<a href="https://colab.research.google.com/github/Geraldoviananeto/aulasprogramacao-pablo-pyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#atividade prof pablo de idade
idade = int(input("Digite a idade do atleta!"))
if(idade< 14):
  print('infantil')
elif(idade >18):
  print('juvenil')
else:
  print('Senior')

Digite a idade do atleta!50
juvenil

In [7]:
#primeira lista de numeros, string tem aspas e numeros nao
num = [1,5,4,9,8]

In [8]:
#tamanho de uma lista e len!
len(num)

5

In [10]:
#lista de outros tipos
alunos = ['Mariana','Geraldo', 'Igor','Ailton','Fernanda']

In [11]:
len(alunos)

5

In [13]:
#alterar os valores de itens de lista
alunos[3] = 'Fabricia'
alunos[4] = 'Clara'
alunos[2] = 'aylla'
alunos

['Mariana', 'Geraldo', 'aylla', 'Fabricia', 'Clara']

In [15]:
#inserir valores na lista .append()
alunos.append('Ailton')
alunos

['Mariana', 'Geraldo', 'aylla', 'Fabricia', 'Clara', 'Ailton']

In [18]:
#adicionar automatico so digitar (input('oque vc quer q faça':))
alunos.append(input('Digite o nome:'))
alunos

Digite o nome:pedro

['Mariana',
 'Geraldo',
 'aylla',
 'Fabricia',
 'Clara',
 'Ailton',
 'igor',
 'lais',
 'pedro']

In [19]:
 #Descobrir se há um valor determinado na lista(procurar um nome)
if 'Geraldo' in alunos:
   print('Tem Geraldo simmm!')
else:
     print('Tem Geraldo naaaaooo')

Tem Geraldo simmm!

In [24]:
#automatiza automatico
nome = input('digite o nome:')
if nome in alunos:
  print('tem', nome)
else:
  print('nao tem', nome)

digite o nome:Geraldo
tem Geraldo

In [25]:
#deletar um item especifico da lista de compras
del alunos[2]
alunos

['Mariana', 'Geraldo', 'Fabricia', 'Clara', 'Ailton', 'igor', 'lais', 'pedro']

In [26]:
#Criar uma lista com numeros de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [32]:
#Descobrir se um numero e par
a = 8
if a%2 == 0:
  print('e par')
else:
  print('e impar')

e par

In [40]:
#imprimir os valores pares
for num in numeros:
 if numeros[num]%2 == 0:
   print(numeros[num])

0
2
4
6
8
10
12
14